doctype html
html
	head
		title «AmRest»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/jquery.formstyler.css')
		link(rel='stylesheet', type='text/css', href='css/slick.css')
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		//HEADER
		header.header.header--blue
			div.container.clearfix
				div.header__application
					a(href='#') Отправить заявку
				div.logo
					img(src='images/logo.jpg' alt='logo')
				nav.header__nav
					ul
						li
							a(href='#') О нас
						li
							a(href='#') Бизнес кейсы
						li
							a(href='#') Тренинги
						li
							a(href='#') Коучинг
						li
							a(href='#') Образование
						li
							a(href='#') Обратная связь
		//end of HEADER

		//BREADCRUMBS
		div.breadcrumbs
			div.container
				ul
					li
						a(href='#') Главная
					li
						a Тренинги и семинары
		//end of BREADCRUMBS

		//CONTENT
		article.trainig-page
			section.training-page__promo
				div.container
					div.training-page__slider
						div.training-page__arrow-left.arrow
						div.training-page__arrow-right.arrow
						ul
							li
								div.date
									span сентября
									b 27
								h3 Яркие лидеры:
								h4 Как достичь высоких результатов вместе с командой
								div.text
									p Превосходная возможность усилить свое лидерство, использовать самые передовые подходы и эффективно решать бизнес-задачи с командой с помощью кейс-школы ABS
									a(href='#').button Зарегистрироваться
							li
								div.date
									span сентября
									b 27
								h3 Борьба за прибыль:
								h4 Как оптимизировать внутренние процессы
								div.text
									p Реальные(действенные) способы оптимизировать бизнес-процессы, вовлечь команды разных департаментов и значительно повысить прибыль компании
									a(href='#').button Зарегистрироваться
							li
								div.date
									span сентября
									b 27
								h3 Управление Талантами:
								h4 Как вырастить Лидеров
								div.text
									p Построение процесса внутреннего продвижения повышает вовлеченность сотрудников, репутацию компании и снижает издержки на поиск и адаптацию Лидеров.
									a(href='#').button Зарегистрироваться
					div.training-page__specialists
						h3 Спикеры - ведущие преподаватели amrest business solutions
						ul
							li
								div.img
									img(src='images/photos/galina-filon.jpg' alt='galina-filon')
								h4 Галина Филон
								span Директор ABS, HR директор ООО «АmRest»
								p Работает в компании AmRest с 2006 года.<br>
									| Имеет высшее образование по специальности Public Relations, ЛЭТИ.<br>
									| Certified Practitioner of Time Line Therapy<br>
									| Certified Practitioner of Hypnotherapy<br>
									| Certified Practitioner of Neuro - Linguistic Programming<br>
									| Сертификация выдана лондонской школой Inspire 360 и лицензирована American Board of NPL Programming<br>
									| Опыт работы:<br>
									| Прошла все ступени в организации, начиная работать в ресторане. Постепенно стала директором ресторана и перешла в HR отдел, где работала в разных департаментах. Имеет опыт в построении корпоративной культуры и коммуникаций, внедрении современных систем обучения и развития, рекрутинге на всех уровнях компании.<br>
									| Профессиональный эксперт и в области HR, и в области операционной части. В течение года работала заместителем директора по операционной деятельности и оперировала более чем 50 ресторанами KFC в разных городах: Санкт-Петербурге, Нижнем Новгороде, Вологде, Череповце.
							li
								div.img
									img(src='images/photos/alena-golohvastova.jpg' alt='alena-golohvastova')
								h4 Алена Голохвастова
								span Партнер ABS, Руководитель отдела по продвижению бренда работодателя, ООО «AmRest»
								p Работает в компании с 2008 года.<br>
									| Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена.<br>
									| Окончила программу для руководителей «Стратегическое управление персоналом», AMI.<br>
									| Сертифицированный коуч ICF, Эриксоновский институт.<br>
									| Имеет опыт работы как в ресторане, так и в команде офиса. Отвечает за следующие области:<br>
									| - Построение Бренда Работодателя для привлечения лучших людей<br>
									| - Поддержание роста компании через руководство отдела рекрутинга<br>
									| - Повышение профессионализма менеджеров в области набора, отбора и удержания сотрудников ресторанов<br>
									| - Продвижение и поддержание корпоративной культуры в компании<br>
									| - Выстраивание эффективных систем коммуникаций<br>
									| - Развитие талантов: процессы выявления, продвижения, удержания
							li
								div.img
									img(src='images/photos/maksim-chinenov.jpg' alt='maksim-chinenov')
								h4 Максим Чиненов
								span Заместитель директора по операционной деятельности, ООО «AmRest»
								p Получил высшее образование в Институте систем управления, БГТУ «Военмех». Дополнительно повышал свои лидерских навыки в таких известных школах, как AMI и NORDIC training international.<br>
									| Работает в компании с 2002 года. Начинал свою деятельность в ресторане и прошел через все уровни в компании. В его зону ответственности входит:<br>
									| - Операционная деятельность в Северо-западном регионе (44 ресторана KFC в Санкт-Петербурге)<br>
									| - Повышение продаж и прибыли в регионе, операционное мастерство<br>
									| - Развитие команды мирового уровня<br>
									| - Использование lean инициатив для достижения целей компании

							li
								div.img
									img(src='images/photos/aleksandr-nigmatullin.jpg' alt='aleksandr-nigmatullin')
								h4 Александр Нигматуллин
								span Директор по маркетингу, ООО «AmRest»
								p Работает в компании с  2003  года.<br>
									| Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена<br>
									| Имеет опыт работы как в ресторане, так и в команде офиса. В его зоне ответственности сейчас находится:<br>
									| - операционная деятельность бренда Pizza Hut, повышение продаж и прибыльности, а также развитие команды<br>
									| - Непосредственное поддержание бизнеса в достижении целей по продажам в брендах (KFC, Pizza Hut, новые бренды) за счет управления всеми маркетинговыми мероприятиями для России.<br>
									| - Создание и коммуникация маркетинговой стратегии брендов в России и руководство командой отдела маркетинга для ее осуществления

			section.training-page__list
				div.container
					h2.section-title Тренинги (3 тренинга)
					h3.section-subtitle Программы обучения:
					p За более чем двадцатилетнюю историю существования компании в  портфолио AmRest представлены разнообразные кейсы, практики, проекты, которые способствовали успеху компании. Здесь вы можете ознакомиться с тренингами, программами, открытыми семинарами первой кейс-школы AmRest Business Solution.
					ul
						li.training-page__item
							a(href='#')
								div.date
									span 10 декабря
									b 18:00
								h4 1. Яркие лидеры: как достичь высоких результатов вместе с командой.
								div.text
									img(src='images/photos/galina-filon.jpg' alt='galina-filon')
									i Галина Филон
						li.training-page__item
							a(href='#')
								div.date
									span 10 декабря
									b 18:00
								h4 2.	Борьба за прибыль: как оптимизировать внутренние процессы
								div.text
									img(src='images/photos/galina-filon.jpg' alt='galina-filon')
									i Галина Филон
						li.training-page__item
							a(href='#')
								div.date
									span 10 декабря
									b 18:00
								h4 3. Управление Талантами: как вырастить Лидеров
								div.text
									img(src='images/photos/alena-golohvastova.jpg' alt='alena-golohvastova')
									i Алена Голохвастова
					div.training-page__list-pagination
						ul.pagination
							li 1
							li.active 2
							li 3

			section.partners
				div.container
					h2.section-title.section-title--blue Партнеры
					ul
						li
							img(src='images/pizza-hut.jpg' alt='pizza-hut')
						li
							img(src='images/kfc.png' alt='kfc')
						li
							img(src='images/pizza-hut.jpg' alt='pizza-hut')
						li
							img(src='images/kfc.png' alt='kfc')
						li
							img(src='images/pizza-hut.jpg' alt='pizza-hut')

		//end of CONTENT

		//FEEDBACK
		section.feedback
			div.container
				h2.section-title Оформите заявку или задайте вопрос
				form(action='#' method='get').feedback__form
					span Выберите тему обращения
					div.jq-select
						select(name='feedback__select' id='feedback__select')
							option(value='1') Записаться  на тренинг
							option(value='2') Записаться на коучинг
							option(value='3') Заказать кейс
							option(value='4') Задать вопрос
					input(type='submit' name='feedback__submit' id='feedback__submit' value='Продолжить').button
		//end of FEEDBACK

		//FOOTER
		footer.footer
			div.container
				a(href='#').footer__map.more-link Смотреть на карте
				h2.section-title Как нас найти
				span.footer__tel +7 (812) 332-83-10
				p.footer__address Санкт-Петербург, В.О. Средний пр., 36/40, БЦ «Остров», 3 этаж
				a(href='#').rabotavamrest-link rabotavamrest.ru
		//end of FOOTER

		//SCRIPTS
		script(src='js/jquery-2.2.3.min.js')
		script(src='js/jquery.formstyler.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')
		//end of SCRIPTS