doctype html
html
	head
		title «AmRest»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/jquery.formstyler.css')
		link(rel='stylesheet', type='text/css', href='css/slick.css')
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		//HEADER
		header.header.header--blue
			div.container.clearfix
				div.header__application
					a(href='#') Отправить заявку
				div.logo
					img(src='images/logo.jpg' alt='logo')
				nav.header__nav
					ul
						li
							a(href='#') О нас
						li
							a(href='#') Бизнес кейсы
						li
							a(href='#') Тренинги
						li
							a(href='#') Коучинг
						li
							a(href='#') Образование
						li
							a(href='#') Обратная связь
		//end of HEADER

		//BREADCRUMBS
		div.breadcrumbs
			div.container
				ul
					li
						a(href='#') Главная
					li
						a(href='#') База знаний
					li
						a Индивидуальный план развития
		//end of BREADCRUMBS

		//CONTENT
		section.edu-page-unit
			div.container
				h2.page-title Индивидуальный план развития
				p Индивидуальный план развития (ИПР далее) – это эффективный способ развития ключевых компетенций в компании, способствующий внутреннему продвижению, развитию сильных лидеров на всех уровнях,  созданию «скамейки запасных» и повышению эффективности организации через реализацию целей.
				h3.section-title.section-title--blue Как это работает?
				p Когда выстроен сильный процесс внутреннего продвижения, и каждый в компании знает о возможностях профессионального и карьерного роста, важным инструментом является создание и работа с ИПР.
				p Сотрудник вместе с руководителем определяют основные области, которые раскроют потенциал и продвинут его в реализации целей. И затем договариваются о встречах по развитию, где отслеживают прогресс.
				h3.section-title.section-title--blue Что важно учесть при составлении ИПР, основываясь на опыте AmRest?
				ul
					li - и сотрудник, и руководитель должны быть заинтересованы в работе по ИПР,
					li - ИПР – это живой инструмент, который может меняться  и калиброваться со временем,
					li - выбирайте не более трех областей для улучшений, чтобы сохранить фокус,
					li - помните в стремлении к улучшениям важно, в том числе, совершенствовать сильные стороны, так как ключ к успеху – развитие талантов,
					li - будьте позитивны! Начиная с формулировок. Путь становится короче, когда вы хотите «стать пунктуальным» вместо «не опаздывать».
				h3.section-title.section-title--blue Лучшие практики AmRest
				p В нашей компании ИПР непосредственно связан с процессом внутреннего продвижения и все сотрудники, начиная с директоров ресторанов обязательно работают с ИПР. Остальным предоставляется такая возможность по желанию.
				p В нашей компании ИПР непосредственно связан с процессом внутреннего продвижения и все сотрудники, начиная с директоров ресторанов обязательно работают с ИПР. Остальным предоставляется такая возможность по желанию.
				p Мы видим исключительные преимущества ИПР в работе над собой и постоянном совершенствовании, что позволяет идти в ногу со временем и применять все полученные знания и умения на практике в ресторанах и департаментах команды офиса. Индивидуальные планы развития – это ключ к непрерывному развитию организации и достижению целей через команду профессионалов.
				p Подробнее узнать об Индивидуальном плане развития, а также заказать процесс «под ключ» вы можете у наших экспертов
		//end of CONTENT

		//FEEDBACK
		section.feedback
			div.container
				h2.section-title Оформите заявку или задайте вопрос
				form(action='#' method='get').feedback__form
					span Выберите тему обращения
					div.jq-select
						select(name='feedback__select' id='feedback__select')
							option(value='1') Записаться  на тренинг
							option(value='2') Записаться на коучинг
							option(value='3') Заказать кейс
							option(value='4') Задать вопрос
					input(type='submit' name='feedback__submit' id='feedback__submit' value='Продолжить').button
		//end of FEEDBACK

		//FOOTER
		footer.footer
			div.container
				a(href='#').footer__map.more-link Смотреть на карте
				h2.section-title Как нас найти
				span.footer__tel +7 (812) 332-83-10
				p.footer__address Санкт-Петербург, В.О. Средний пр., 36/40, БЦ «Остров», 3 этаж
				a(href='#').rabotavamrest-link rabotavamrest.ru
		//end of FOOTER

		//SCRIPTS
		script(src='js/jquery-2.2.3.min.js')
		script(src='js/jquery.formstyler.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')
		//end of SCRIPTS