doctype html
html
	head
		title «AmRest»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/jquery.formstyler.css')
		link(rel='stylesheet', type='text/css', href='css/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		//HEADER
		header.header.header--blue
			div.container.clearfix
				div.header__application
					a(href='#') Отправить заявку
				div.logo
					img(src='images/logo.jpg' alt='logo')
				nav.header__nav
					ul
						li
							a(href='#') О нас
						li
							a(href='#') Бизнес кейсы
						li
							a(href='#') Тренинги
						li
							a(href='#') Коучинг
						li
							a(href='#') Образование
						li
							a(href='#') Обратная связь
		//end of HEADER

		//BREADCRUMBS
		div.breadcrumbs
			div.container
				ul
					li
						a(href='#') Главная
					li
						a Коучинг
		//end of BREADCRUMBS

		//CONTENT
		article.coaching-page
			section.coaching-page__info
				div.container
					h2 Коучинг
					p Коучинг  - это профессиональное партнерство с клиентом, помогающее сформулировать и достигать поставленных целей.
					p Во всем мире коучинг  является востребованным и эффективным способом достижения целей, когда:
					ul
						li необходимо создать видение и расставить приоритеты,
						li продумать/ реализовать проект, воплотить видение в реальность,
						li найти новые решения, наилучшие для Вас,
						li посмотреть на ситуацию с другой стороны, увидеть большую картину,
						li открыть в себе ресурсы для достижений, раскрыть потенциал и многое другое.
					p Отличительная черта коучинга в том, что это беседа, свободная от оценок, советов, предубеждений, заранее заготовленных ответов.<br>
						|Коучинг раскрывает ваши внутренние ресурсы, продвигает к достижению желаемого и помогает найти свой собственный путь.<br>
						|Эффект достигается через использование открытых вопросов и специальных методик.  Чаще всего это долгосрочное сотрудничество, где сам клиент может отследить результат.
					p Коучинг – это также возможность:
					ul
						li соединиться со своими ценностями и понять, что на самом деле важно,
						li увидеть отражение личных ценностей в достижениях бизнеса,
						li поддержать себя в развитии, уверенности и выйти за рамки личных ограничений,
						li найти вдохновение и призвание.
					p Коучинг строится на доверии и свободе, позволяя поисследовать в безопасном пространстве и найти свой наилучший путь. В AmRest мы считаем коучинговый подход в лидерстве одним из секретов нашего успеха! И приглашаем вас на коуч-сессию с нашими экспертами.
						a(href='#') (ссылка на экспертов)
			section.coaching-page__specialists
				h3 Специалисты  по коучингу
				ul
					li
						div.img
							img(src='images/oksana.jpg' alt='oksana')
						h4 Галина Филон
						span Директор ABS, HR директор ООО «АmRest»
						p Работает в компании AmRest с 2006 года.<br>
							| Имеет высшее образование по специальности Public Relations, ЛЭТИ.<br>
							| Certified Practitioner of Time Line Therapy<br>
							| Certified Practitioner of Hypnotherapy<br>
							| Certified Practitioner of Neuro - Linguistic Programming<br>
							| Сертификация выдана лондонской школой Inspire 360 и лицензирована American Board of NPL Programming<br>
							| Опыт работы:<br>
							| Прошла все ступени в организации, начиная работать в ресторане. Постепенно стала директором ресторана и перешла в HR отдел, где работала в разных департаментах. Имеет опыт в построении корпоративной культуры и коммуникаций, внедрении современных систем обучения и развития, рекрутинге на всех уровнях компании.<br>
							| Профессиональный эксперт и в области HR, и в области операционной части. В течение года работала заместителем директора по операционной деятельности и оперировала более чем 50 ресторанами KFC в разных городах: Санкт-Петербурге, Нижнем Новгороде, Вологде, Череповце.
						a(href='#') дипломы Оксаны
					li
						div.img
							img(src='images/oksana.jpg' alt='oksana')
						h4 Алена Голохвастова
						span Партнер ABS, Руководитель отдела по продвижению бренда работодателя, ООО «AmRest»
						p Работает в компании с 2008 года.<br>
							| Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена.<br>
							| Окончила программу для руководителей «Стратегическое управление персоналом», AMI.<br>
							| Сертифицированный коуч ICF, Эриксоновский институт.<br>
							| Имеет опыт работы как в ресторане, так и в команде офиса. Отвечает за следующие области:<br>
							| - Построение Бренда Работодателя для привлечения лучших людей<br>
							| - Поддержание роста компании через руководство отдела рекрутинга<br>
							| - Повышение профессионализма менеджеров в области набора, отбора и удержания сотрудников ресторанов<br>
							| - Продвижение и поддержание корпоративной культуры в компании<br>
							| - Выстраивание эффективных систем коммуникаций<br>
							| - Развитие талантов: процессы выявления, продвижения, удержания
						a(href='#') дипломы Оксаны
					li
						div.img
							img(src='images/oksana.jpg' alt='oksana')
						h4 Максим Чиненов
						span Заместитель директора по операционной деятельности, ООО «AmRest»
						p Получил высшее образование в Институте систем управления, БГТУ «Военмех». Дополнительно повышал свои лидерских навыки в таких известных школах, как AMI и NORDIC training international.<br>
							| Работает в компании с 2002 года. Начинал свою деятельность в ресторане и прошел через все уровни в компании. В его зону ответственности входит:<br>
							| - Операционная деятельность в Северо-западном регионе (44 ресторана KFC в Санкт-Петербурге)<br>
							| - Повышение продаж и прибыли в регионе, операционное мастерство<br>
							| - Развитие команды мирового уровня<br>
							| - Использование lean инициатив для достижения целей компании

						a(href='#') дипломы Оксаны
					li
						div.img
							img(src='images/oksana.jpg' alt='oksana')
						h4 Александр Нигматуллин
						span Директор по маркетингу, ООО «AmRest»
						p Работает в компании с  2003  года.<br>
							| Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена<br>
							| Имеет опыт работы как в ресторане, так и в команде офиса. В его зоне ответственности сейчас находится:<br>
							| - операционная деятельность бренда Pizza Hut, повышение продаж и прибыльности, а также развитие команды<br>
							| - Непосредственное поддержание бизнеса в достижении целей по продажам в брендах (KFC, Pizza Hut, новые бренды) за счет управления всеми маркетинговыми мероприятиями для России.<br>
							| - Создание и коммуникация маркетинговой стратегии брендов в России и руководство командой отдела маркетинга для ее осуществления
						a(href='#') дипломы Оксаны
				a(href='#').button Отправить заявку

		//end of CONTENT

		//FEEDBACK
		section.feedback
			div.container
				h2.section-title Оформите заявку или задайте вопрос
				form(action='#' method='get').feedback__form
					span Выберите тему обращения
					div.jq-select
						select(name='feedback__select' id='feedback__select')
							option(value='1') Записаться  на тренинг
							option(value='2') Записаться на коучинг
							option(value='3') Заказать кейс
							option(value='4') Задать вопрос
					input(type='submit' name='feedback__submit' id='feedback__submit' value='Продолжить').button
		//end of FEEDBACK

		//FOOTER
		footer.footer
			div.container
				a(href='#').footer__map.more-link Смотреть на карте
				h2.section-title Как нас найти
				span.footer__tel +7 (812) 332-83-10
				p.footer__address Санкт-Петербург, В.О. Средний пр., 36/40, БЦ «Остров», 3 этаж
				a(href='#').rabotavamrest-link rabotavamrest.ru
		//end of FOOTER

		//SCRIPTS
		script(src='js/jquery-2.2.3.min.js')
		script(src='js/jquery.formstyler.min.js')
		script(src='js/owl.carousel.min.js')
		script(src='js/script.js')
		//end of SCRIPTS