doctype html
html
	head
		title «AmRest»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/jquery.formstyler.css')
		link(rel='stylesheet', type='text/css', href='css/owl.carousel.css')
		link(rel='stylesheet', type='text/css', href='css/slick.css')
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		//HEADER
		header.header.header--blue
			div.container.clearfix
				div.header__application
					a(href='#') Отправить заявку
				div.logo
					img(src='images/logo.jpg' alt='logo')
				nav.header__nav
					ul
						li
							a(href='#') О нас
						li
							a(href='#') Бизнес кейсы
						li
							a(href='#') Тренинги
						li
							a(href='#') Коучинг
						li
							a(href='#') Образование
						li
							a(href='#') Обратная связь
		//end of HEADER

		//BREADCRUMBS
		div.breadcrumbs
			div.container
				ul
					li
						a(href='#') Главная
					li
						a О нас
		//end of BREADCRUMBS

		//CONTENT
		section.company-promo
			div.container.clearfix
				div.company-promo__text
					h2 AmRest<br>
						|Business<br>
						|Solution
					p Добро пожаловать в первую кейс-школу в Санкт-Петербурге – AmRest Business Solutions (ABS).
					p Наша школа основана на базе компании <a href='#'>AmRest</a> и готова поделиться лучшими практиками, уже осуществленными в рамках компании.
				div.company-promo__photo
					ul
						li
							|Команда из
							b 10
							|высококлассных специалистов
						li
							|Более
							b 150
							|обучающихся в год

		section.company-about
			div.company-about__nav
				div.container
					ul
						li.active О школе
						li Бизнес-эксперты
			div.company-about__school
				div.container
					div.company-about__honeycomb
						h2.section-title.section-title--blue О бизнес школе amrest business solutions
						ul.company-about__honeycomb-list
							li среди всех рынков AmRest Россия имеет наибольший возврат инвестиций
							li мы показываем стабильно высокие индексы продаж и прибыли
							li наш результат по удержанию персонала в 2015 был на 30% лучше средней нормы по рынку
							li 95% наших руководителей вырастают внутри компании
						ul.company-about__honeycomb-text
							li Даже в текущее время в России являемся рынком с наибольшим возвратом инвестиций (среди всех рынков AmRest Global).
							li
								p Мы показываем стабильно высокие индексы продаж и прибыльности. В то же время мы понимаем, что всех наших успехов достигают люди!
							li Поэтому мы организовали эффективный процесс внутреннего продвижения – в прошлом году 95% менеджеров выросли внутри компании – и процесс удержания – наш результат по удержанию персонала в 2015 году был на 30 % ниже средней нормы по рынку.
						img(src='images/honeycomb.png' alt='honeycomb').company-about__honeycomb-img
						p Все это нам помогают достичь наши высокопрофессиональные лидеры – люди, стоящие у истоков компании и их преемники. А также эффективно выстроенные процессы.
						p И сейчас мы готовы поделиться лучшими практиками с вами!

					div.company-about__case
						h2.section-title.section-title--blue Что такое кейс-школа amrest business solutions?
						ul.company-about__case-features
							li
								div.img
									img(src='images/couple-with-laptop.jpg' alt='couple-with-laptop')
								//h4 Бизнес-школа нового типа
								p Мы организуем учебный процесс, основываясь на практическом подходе. Вы не только узнаете, как мы достигаем результатов, но и получите рекомендации от наших экспертов и других участников группы по вашему кейсу (ситуации). Таким образом по итогам обучения вы сможете сформировать продуманные решения для вашей ситуации.
							li
								//h4 15-летний опыт работы профессионалов
								p В дополнение к вашему обучению для закрепления материала вы можете прийти на Встречу по движению (встреча по движению к результату, прим.ред.), где мы ответим на появившиеся после практики вопросы. Встреча по движению всегда включена в стоимость тренинга.
								div.img
									img(src='images/laptop-on-knees.jpg' alt='laptop-on-knees')
							li
								div.img
									img(src='images/folders.jpg' alt='folders')
								//h4 Бизнес-школа нового типа
								p В случае, если вы захотите создать у себя в компании процесс «под ключ», мы готовы предложить консалтинговые услуги.
						ul.company-about__case-arrow
							li Тренинг/<br>
								|программа
							li Встреча по движению
							li Консалтинг
								span (по желанию и за отдельную стоимость)

					div.company-about__students
						//div.company-about__students-wrapper
						h3 Для кого будут интересны тренинги кейс-школы?
						p Для руководителей, для профессионалов, для всех, кто нацелен на продуктивную работу и хочет действительно изменить реальность к лучшему!
						h3 Кто наши преподаватели?
						p Все наши преподаватели – это топ-менеджеры компании AmRest, непосредственно участвующие в достижении результатов. Они рассказывают о собственном опыте и тем самым обеспечивают максимально эффективный и практический подход в обучении.
							a(href='#') (ссылка на страницу с преподавателями)

					div.company-about__themes
						h2 Какие основные темы для обучения?
						p Основываясь на нашем опыте мы можем предложить несколько программ, направленных на
						ul
							li развитие лидерского потенциала руководителей,
							li повышение эффективности бизнес-процессов и прибыльности,
							li выстраивание процесса продвижения талантов,
							li развитие эффективной коммуникации,
							li коучинг,
							li дистанционное обучение
							li
								a(href='#') И многие другие (ссылка на программы обучения)
						b Создавай! Вдохновляй! Делай!
						a(href='#').button.button--white Отправить заявку

			div.company-about__experts
				div.container
					h2.section-title.section-title--blue Бизнес-эксперты amrest business solutions
					div.company-about__experts-slider
						div.company-about__experts-arrow-left
						div.company-about__experts-arrow-right
						ul
							li
								div.img
									img(src='images/oksana.jpg' alt='oksana')
								h4 Галина Филон
								span Директор ABS, HR директор ООО «АmRest»
								p Работает в компании AmRest с 2006 года.<br>
									|Имеет высшее образование по специальности Public Relations, ЛЭТИ.<br>
									|Certified Practitioner of Time Line Therapy<br>
									|Certified Practitioner of Hypnotherapy<br>
									|Certified Practitioner of Neuro - Linguistic Programming<br>
									|Сертификация выдана лондонской школой Inspire 360 и лицензирована American Board of NPL Programming<br>
									|Опыт работы:<br>
									|Прошла все ступени в организации, начиная работать в ресторане. Постепенно стала директором ресторана и перешла в HR отдел, где работала в разных департаментах. Имеет опыт в построении корпоративной культуры и коммуникаций, внедрении современных систем обучения и развития, рекрутинге на всех уровнях компании.<br>
									|Профессиональный эксперт и в области HR, и в области операционной части. В течение года работала заместителем директора по операционной деятельности и оперировала более чем 50 ресторанами KFC в разных городах: Санкт-Петербурге, Нижнем Новгороде, Вологде, Череповце.
								b читать далее<br>
								i скрыть
							li
								div.img
									img(src='images/oksana.jpg' alt='oksana')
								h4 Алена Голохвастова
								span Партнер ABS, Руководитель отдела по продвижению бренда работодателя, ООО «AmRest»
								p Работает в компании с 2008 года.<br>
									|Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена.<br>
									|Окончила программу для руководителей «Стратегическое управление персоналом», AMI.<br>
									|Сертифицированный коуч ICF, Эриксоновский институт.<br>
									|Имеет опыт работы как в ресторане, так и в команде офиса. Отвечает за следующие области:<br>
									|- Построение Бренда Работодателя для привлечения лучших людей<br>
									|- Поддержание роста компании через руководство отдела рекрутинга<br>
									|- Повышение профессионализма менеджеров в области набора, отбора и удержания сотрудников ресторанов<br>
									|- Продвижение и поддержание корпоративной культуры в компании<br>
									|- Выстраивание эффективных систем коммуникаций<br>
									|- Развитие талантов: процессы выявления, продвижения, удержания
								b читать далее<br>
								i скрыть
							li
								div.img
									img(src='images/oksana.jpg' alt='oksana')
								h4 Максим Чиненов
								span Заместитель директора по операционной деятельности, ООО «AmRest»
								p Получил высшее образование в Институте систем управления, БГТУ «Военмех». Дополнительно повышал свои лидерских навыки в таких известных школах, как AMI и NORDIC training international.<br>
									|Работает в компании с 2002 года. Начинал свою деятельность в ресторане и прошел через все уровни в компании. В его зону ответственности входит:<br>
									|- Операционная деятельность в Северо-западном регионе (44 ресторана KFC в Санкт-Петербурге)<br>
									|- Повышение продаж и прибыли в регионе, операционное мастерство<br>
									|- Развитие команды мирового уровня<br>
									|- Использование lean инициатив для достижения целей компании

								b читать далее<br>
								i скрыть
							li
								div.img
									img(src='images/oksana.jpg' alt='oksana')
								h4 Александр Нигматуллин
								span Директор по маркетингу, ООО «AmRest»
								p Работает в компании с  2003  года.<br>
									|Имеет высшее образование по специальности «Социология». Социолог. Преподаватель социологии. РГПУ им А.И. Герцена<br>
									|Имеет опыт работы как в ресторане, так и в команде офиса. В его зоне ответственности сейчас находится:<br>
									|- операционная деятельность бренда Pizza Hut, повышение продаж и прибыльности, а также развитие команды<br>
									|- Непосредственное поддержание бизнеса в достижении целей по продажам в брендах (KFC, Pizza Hut, новые бренды) за счет управления всеми маркетинговыми мероприятиями для России.<br>
									|- Создание и коммуникация маркетинговой стратегии брендов в России и руководство командой отдела маркетинга для ее осуществления
								b читать далее<br>
								i скрыть
					a(href='#').button Отправить заявку

		//end of CONTENT

		//FEEDBACK
		section.feedback
			div.container
				h2.section-title Оформите заявку или задайте вопрос
				form(action='#' method='get').feedback__form
					span Выберите тему обращения
					div.jq-select
						select(name='feedback__select' id='feedback__select')
							option(value='1') Записаться  на тренинг
							option(value='2') Записаться на коучинг
							option(value='3') Заказать кейс
							option(value='4') Задать вопрос
					input(type='submit' name='feedback__submit' id='feedback__submit' value='Продолжить').button
		//end of FEEDBACK

		//FOOTER
		footer.footer
			div.container
				a(href='#').footer__map.more-link Смотреть на карте
				h2.section-title Как нас найти
				span.footer__tel +7 (812) 332-83-10
				p.footer__address Санкт-Петербург, В.О. Средний пр., 36/40, БЦ «Остров», 3 этаж
				a(href='#').rabotavamrest-link rabotavamrest.ru
				a(href='http://7sait.spb.ru/services/sozdanie-saitov/').developer Разработка сайта: «7 Студио»
		//end of FOOTER

		//SCRIPTS
		script(src='js/jquery-2.2.3.min.js')
		script(src='js/jquery.formstyler.min.js')
		script(src='js/owl.carousel.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')
		//end of SCRIPTS