doctype html
html
	head
		title «AmRest»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/jquery.formstyler.css')
		link(rel='stylesheet', type='text/css', href='css/slick.css')
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		//HEADER
		header.header
			div.container.clearfix
				div.header__application
					a(href='#') Отправить заявку
				div.logo
					img(src='images/logo.jpg' alt='logo')
				nav.header__nav
					ul
						li
							a(href='#') О нас
						li
							a(href='#') Бизнес кейсы
						li
							a(href='#') Тренинги
						li
							a(href='#') Коучинг
						li
							a(href='#') Образование
						li
							a(href='#') Обратная связь
		//end of HEADER

		section.promo
			div.container
				div.promo__tel
					p Задать вопрос
					span 332-83-10
				div.promo__text
					h2
						|Create<br>
						b Inspire<br>
						i Do it
					p
						b AmRest Business Solution – <br>
						|это уникальный инструмент, который помогает<br>
						|вам строить успешную карьеру c AmRest

		section.about
			div.container
				a(href='#').more-link.more-link--green Подробнее о нас
				h2.section-title.section-title--blue О нас
				h3.section-subtitle Что представляет наша компания
				p
					|<b>AmRest Business Solution</b> – одна из ведущих бизнес-школ России, в которой обучаются сотрудники лидирующих компаний российского и западного рынков. Наши экспертные преподаватели — это высококвалифицированная команда управленцев, менеджеров, тренеров и практиков. Общение с такими интересными людьми во время обучения дает слушателям не только новые знания и идеи, но и импульс к их реализации.
				div.professionals
					h3.section-subtitle Наши бизнес-эксперты расскажут о возможностях построения бизнеса
					div.professionals__slider
						div.professionals__arrow-left.arrow
						div.professionals__arrow-right.arrow
						ul
							li
								img(src='images/oksana.jpg' alt='oksana')
								div.text
									h4 Оксана Станишевска
									span Chief Administration Officer
									p Задача аналитиков – стимулировать ваше мышление, а не преподносить вам на тарелочке способ заработать деньги.<br>
										|Не путайте, не верьте, не разочаровывайтесь.
							li
								img(src='images/oksana.jpg' alt='oksana')
								div.text
									h4 Оксана Станишевска
									span Chief Administration Officer
									p Задача аналитиков – стимулировать ваше мышление, а не преподносить вам на тарелочке способ заработать деньги.<br>
										|Не путайте, не верьте, не разочаровывайтесь.

		section.business-cases
			div.container
				h2.section-title.section-title--blue Реализованные бизнес кейсы
				h3.section-subtitle Создавай! Вдохновляй! Делай!
				ul.business-cases__list
					li.business-cases__list-item.business-cases__list-item--rocket
						a(href='#') link
						h4 Fast Track program. Интенсивная подготовка топ-менеджеров в условиях развития компании
						//p Программа дополнительного образования в области администрирования бизнес-процессов.
					li.business-cases__list-item.business-cases__list-item--communication
						a(href='#') link
						h4 Построение процесса внутреннего продвижения талантов
						//p Программа дополнительного образования в области администрирования бизнес-процессов.
					li.business-cases__list-item.business-cases__list-item--hr
						a(href='#') link
						h4 Выстраивание внутренних процессов в компании
						//p Программа дополнительного образования в области администрирования бизнес-процессов.
					li.business-cases__list-item.business-cases__list-item--logistic
						a(href='#') link
						h4 Дистанционное обучение в ресторанах KFC и Pizza Hut
						//p Программа дополнительного образования в области администрирования бизнес-процессов.
					li.business-cases__list-item.business-cases__list-item--arrows
						a(href='#') link
						h4 Выстраивание процессов набора в ресторанах
						//p Программа дополнительного образования в области администрирования бизнес-процессов.
					//li.business-cases__list-item.business-cases__list-item--money
					//	a(href='#') link
					//	h4 Финансы
					//	p Программа дополнительного образования в области администрирования бизнес-процессов.
					//li.business-cases__list-item.business-cases__list-item--chart
					//	a(href='#') link
					//	h4 Стратегический менеджмент
					//	p Программа дополнительного образования в области администрирования бизнес-процессов.
					//li.business-cases__list-item.business-cases__list-item--thinking
					//	a(href='#') link
					//	h4 Операционная деятельность
					//	p Программа дополнительного образования в области администрирования бизнес-процессов.

		section.trainings
			div.container
				a.more-link(href='#') Подробнее о тренинге
				h2.section-title Тренинги
				h3.section-subtitle Ближайшие события в AmRest Business Solution
				div.trainings__date
					b 26
					i сентября
					span Суббота
				h4.trainings__title
					|"Уверенность в себе и своих способностях. Ассертивность. Как повысить самооценку. Нулевая реакция. Стрессоустойчивость"
				a(href='#').trainings__apply.button Подать заявку

		section.edu
			div.container
				h2.section-title.section-title--blue Образование
				ul.edu__nav
					li.active Литература
					li Статьи
				div.edu__slider
					div.edu__arrow-left.arrow
					div.edu__arrow-right.arrow
					ul
						li
							img(src='images/karmin-gallo.jpg' alt='karmin-gallo')
							a(href='#').more-link Подробнее о книге
							span Кармин Галло
							h4 «Правила Apple. Принципы создания искренней лояльности»
							p В любой сфере, от бизнеса до политики, известные личности, чья личная или профессиональная жизнь привлекает всеобщее внимание - мастера создавать и преподносить прекрасные сообщения.
						li
							img(src='images/karmin-gallo.jpg' alt='karmin-gallo')
							a(href='#').more-link Подробнее о книге
							span Галло Кармин
							h4 «Правила Apple. Принципы создания искренней лояльности»
							p В любой сфере, от бизнеса до политики, известные личности, чья личная или профессиональная жизнь привлекает всеобщее внимание - мастера создавать и преподносить прекрасные сообщения.

		section.coaching
			div.container
				a(href='#').coaching__more.more-link.more-link--green Подробнее о коучинге
				h2.section-title.section-title--blue Коучинг
				h3.section-subtitle Индивидуальное обучение с наставником
				h4 На курсе коучинга Вы:
				ul
					li Поймете философию коучинга
					li Научитесь использовать коучинг для саморазвития
					li Узнаете об эффективных инструментах и методах коучинга
					li Примерите на себя роль коуча и тренера

		//FEEDBACK
		section.feedback
			div.container
				h2.section-title Оформите заявку или задайте вопрос
				form(action='#' method='get').feedback__form
					span Выберите тему обращения
					div.jq-select
						select(name='feedback__select' id='feedback__select')
							option(value='1') Записаться  на тренинг
							option(value='2') Записаться на коучинг
							option(value='3') Заказать кейс
							option(value='4') Задать вопрос
					input(type='submit' name='feedback__submit' id='feedback__submit' value='Продолжить').button
		//end of FEEDBACK

		//FOOTER
		footer.footer
			div.container
				a(href='#').footer__map.more-link Смотреть на карте
				h2.section-title Как нас найти
				span.footer__tel +7 (812) 332-83-10
				p.footer__address Санкт-Петербург, В.О. Средний пр., 36/40, БЦ «Остров», 3 этаж
				a(href='#').rabotavamrest-link rabotavamrest.ru
		//end of FOOTER

		//SCRIPTS
		script(src='js/jquery-2.2.3.min.js')
		script(src='js/jquery.formstyler.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')
		//end of SCRIPTS