/*fonts*/
@font-face {
	font-family: Roboto-Bold;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Roboto-Regular;
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: OpenSans-Light;
	src: url(fonts/OpenSans-Light.ttf);
	font-weight: normal;
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(fonts/OpenSans-Semibold.ttf);
	font-weight: normal;
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}
/*end of fonts*/