/*footer*/
.footer{

	.container{
		padding: 60px 0 55px;
		background: url("images/footer-bg-1.jpg") no-repeat center top/100% 100%;
	}

	.more-link{
		float: right;
		margin: 0 80px 0 0;
	}

	h2{
		margin: 0 300px 50px;
	}

	span{
		margin: 0 80px 0 0;
		display: block;
		float: right;
		font-family: Roboto-Bold Helvetica, sans-serif;
		font-size: 30px;
		line-height: 1.2em;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: left;
	}

	p{
		margin: 0 0 35px 80px;
		font-family: Roboto-Regular Helvetica, sans-serif;
		font-size: 26px;
		line-height: 1.2em;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: left;
	}

	.rabotavamrest-link{
		margin: 0 0 0 80px;
	}

	.developer{
		margin: 28px 80px 0 0;
		display: block;
		float: right;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: right;

		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}
}
/*end of footer*/