/*logo*/
.logo{
	//padding: 16px 0;
	display: block;
	width: 260px;
	background: #fff;
	line-height: 0;

	img{
		//margin: 0 0 0 80px;
		padding: 0;
		display: block;
		max-width: 100%;
	}
}
/*end of logo*/